martor
gunicorn
asgiref==3.7.2
asttokens==2.4.1
bleach==6.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
decorator==5.1.1
Django==4.2.10
djlint==1.34.1
EditorConfig==0.12.4
exceptiongroup==1.2.0
executing==2.0.1
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.6
importlib-metadata==4.8.3
ipython==8.22.2
jedi==0.19.1
jsbeautifier==1.15.1
json5==0.9.24
Markdown==3.3.7
martor==1.6.38
matplotlib-inline==0.1.6
packaging==24.0
parso==0.8.3
pathspec==0.12.1
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
tomli==2.0.1
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
zipp==3.18.1
