{% extends "_base.html" %}
{% block title %}
    {{ todos.title }}
{% endblock title %}
{% block content %}
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
                {{ todos.title }}
                -
                {% if todos.isdone %}
                    Done
                {% else %}
                    Not Done
                {% endif %}
            </h4>
            <p class="card-text">{{ todos.desc }}</p>
        </div>
    </div>
{% endblock content %}
